*{
    text-decoration: none;
    color: whitesmoke;
    font-family: cursive;
}


$dark-background:rgb(32, 32, 32);
$dark-font-color1: gray;
$dark-font-color2:  whitesmoke;
$dark-hover-color: rgb(47, 47, 47);

#main-body{
    font-family: cursive;
    background-color: $dark-background;
    .default-button{
        background-color: transparent;
        border-color: gray;
        border-width: 2px;
        border-style: solid;
        //font-family: cursive;
        color: gray;
        border-radius: 5px;
    }
    section{
        display: flex;
        overflow-x: hidden;
        z-index: 2;
        #left-column{
            font-family: cursive;
            width: 20%;
            background-color: transparent;
            border-right: 1px;
            border-color: $dark-font-color1;
            border-style: solid;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            h1{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
                font-size: 25px;
                height: 45px;
                border-bottom: 1px;
                z-index: 5;
                border-color: $dark-font-color1;
                border-style: solid;
                //font-family: cursive;
            }

            #all-notes{
                z-index: 1;
                height: calc(100vh - 45px);
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                overflow-x: hidden;
                overflow-y: auto;
                width: 100%;
                text-align: center;
                #notes-heading{
                    display: block;
                    border: 3px;
                    padding: 10px;
                    border-color: $dark-font-color1;
                    margin-bottom: 10px;
                    border-style: solid;
                    border-radius: 15px;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    //font-family: cursive;
                }
                #notes-heading:hover{
                    background-color: rgb(162, 162, 162);
                }
                #notes-heading:active{
                    padding: 9px;
                }
                
            }
            }
            
        #right-column{
            height: 100vh ;
            width: 80%;
            background-color: transparent;
            display: flex;
            flex-wrap: wrap;
            overflow-x: hidden;
            #top-row{
                z-index: 5;
                height: 55px;
                width: 100%;
                border-bottom: 1px;
                border-color: $dark-font-color1;
                border-style: solid;
                #input-name{
                    display: inline;
                    margin-left: 30%;
                    background-color: rgb(57, 57, 57);
                    width: 40%;
                    border-radius: 10px;
                    height: 30px;
                    color: $dark-font-color1;
                    margin-top: 10px;
                }
                #add-note{
                    position: absolute;
                    background-image: url("/img/addIcon.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 30px;
                    width: 30px;
                    border-radius: 15px;
                    margin-left: 15px;
                    margin-top: 10px;
                }
                #open-settings{
                    float: right;
                    display: block;
                    margin-top: 15px;
                    margin-right: 3%;
                    background-image: url("/img/settings.png");
                    height: 25px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 25px;
                    border-style: none;
                    z-index: 30;
                }
            }

            #single-note{
                visibility:hidden;
                z-index: 1;
                width: 100%;
                height: calc(100% - 70px);
                display: flex;
                flex-wrap: wrap;
                #single-heading{
                    color: $dark-font-color2;
                    width: 70%;
                    //font-family: cursive;
                    font-weight: bold;
                    font-size: 20px;
                    margin-left: 2%;
                    margin-top: 2%;
                    background-color: transparent;
                    border-width: 2px;
                    border-style: solid;
                    border-radius: 10px;
                }
                #single-text{
                    color: $dark-font-color2;
                    width: 90%;
                    height: 90%;
                    //font-family: cursive;
                    font-weight: bold;
                    font-size: 20px;
                    margin-left: 2%;
                    margin-top: 2%;
                    background-color: transparent;
                    border-width: 2px;
                    border-style: solid;
                    border-radius: 10px;
                    word-wrap: break-word;
                    word-break: break-all;
                    resize: none;
                }
                .simp-button{
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 30px;
                    width: 30px;
                    border-radius: 15px;
                    margin-left: 15px;
                    margin-top: 15px;

                }
                #delete-note{
                    background-image: url("/img/deleteIcon.png");
                    
                }

                #save-note{
                    background-image: url("/img/save.webp")
                }
            }
        }
     }

    #settings-bar{
        visibility: hidden;
        height: calc(100vh + 30px);
        background-color: gray;
        width: 100%;
        z-index: 15;
        opacity: .9;
        position:absolute;
        #close-settings{
            position: absolute;
            background-image: url("/img/cross.png");
            background-repeat: no-repeat;
            background-size: contain;
            height: 40px;
            width: 40px;
            border-style: none;
            background-color: gray;
            margin-top: 10px;
            margin-left: 10px;

        }
        .settings-header{
            //font-family: cursive;
            font-size: 25px;
            font-weight: bold;
            border-right: 6px;
            border-style: solid;
            border-color: whitesmoke;
            padding-right: 15px;
        }
        #setting-options{
            width: 35%;
            text-align: right;
            padding-top: 180px;
            
            
            h3{
                font-size: 35px;
                line-height:60px;
                display: block;
            }
            h3:hover{
                font-size: 40px;;
            }
            
        }
        #setting-submenus{
            width: 65%;
            margin-left: 3%;
            margin-top: 20vh;
            ul{
                width: 100%;
                li{
                    display: flex;
                    flex-wrap: wrap;
                    line-height: 50px;
                    h3{
                        border: none;
                    }
                    
                    button{
                        width: 50px;
                        height: 30px;
                        position: absolute;
                        right: 40px;
                        margin-top: 8px;
                    }

                }
            }

        }
     }
     
}